<alert theme="success">
  <h2>Welcome to Dave's Delux Bill Splitting App!</h2>
</alert>

<alert theme="info">
  This app aims to make it easy to split <span class="emphasis">any set of bills</span>,
  between <span class="emphasis">any number of people</span>, in <span class="emphasis">any combination.</span>
</alert>

<alert theme="warning">
  <h4>This site is under construction.</h4>
  The basic features are still being desinged, so you may have to come back soon for the feature you are looking for.
</alert>

<alert theme="secondary">
  <h5>Press "Enter Bills" to get started!</h5>
  The app is not yet completely functional. You will not be able to calculate the bills,
  but you can get a feel for what the app looks like and how it is supposed to work.
  <hr />
  <a
    class="btn btn-primary"
    href="#!/enter-bills"
  >
    Enter Bills
  </a>
</alert>