<link rel="stylesheet" href="views/home/home.css">

<alert theme="'success'">
  <h2>Welcome to Dave's Delux Bill Splitting App!</h2>
</alert>

<alert theme="'info'">
  This app aims to make it easy to split <span class="emphasis">any set of bills</span>,
  between <span class="emphasis">any number of people</span>, in <span class="emphasis">any combination.</span>
</alert>

<alert theme="'warning'">
  <h4>This site is under construction.</h4>
  The basic features are still being desinged, so you may have to come back soon for the feature you are looking for.
</alert>