<modal-skeleton
  modal-name="{{$ctrl.modalName}}"
  title="Add Participant"
  has-success="$ctrl.hasSuccess"
  has-danger="$ctrl.hasError"
  reset="$ctrl.reset"
>

  <modal-body>

    <form ng-if="!$ctrl.hasSuccess" id="{{$ctrl.FORM_NAME}}">
      <div class="form-group">
        <label for="{{$ctrl.nameInputName}}">New Participant Name</label>
        <input
          type="text"
          class="form-control"
          id="{{$ctrl.nameInputName}}"
          aria-describedby="{{$ctrl.nameInputName + 'Help'}}"
          placeholder="Enter a name for the new participant."
          ng-model="$ctrl.nameInputValue"
          ng-change="$ctrl.updateButtonDisable()"
          ng-disabled="$ctrl.isInputDisabled"
        >
      </div>
    </form>

    <alert ng-if="$ctrl.hasSuccess" theme="success">
      <h4>Success!</h4>
      <span class="name person">{{$ctrl.newParticipant.name}}</span> was added
      as a participant to this list.
    </alert>

    <alert ng-if="$ctrl.hasError" theme="danger">
      <h4>Error</h4>
      <span ng-if="$ctrl.nameInErrorMessage">
        {{$ctrl.errorMessage[0]}}
        <span class="name">"{{$ctrl.nameInErrorMessage}}."</span>
        {{$ctrl.errorMessage[1]}}
      </span>
      <!-- {{$ctrl.errorMessage || 'Unknown error'}} -->
    </alert>

  </modal-body>

  <!-- Footer also has cancel button (from modal skeleton) in addition to unique content defined below -->
  <modal-footer>
    <button
      ng-click="$ctrl.hasSuccess ? $ctrl.addAnotherParticipant() : $ctrl.submitForm()"
      type="{{$ctrl.hasSuccess ? 'button' : 'submit'}}"
      form="{{$ctrl.FORM_NAME}}"
      class="btn btn-primary"
      ng-disabled="$ctrl.isButtonDisabled && !$ctrl.hasSuccess"
    >
      {{$ctrl.hasSuccess ? 'Add another participant' : '+Add'}}
    </button>
  </modal-footer>

</modal-skeleton>