<div class="card mb-3">
  <h5 class="card-header">Participants</h5>
  <div class="card-body">
    <p ng-if="$ctrl.participants.length < 1" class="my-4 text-center">
      There are no participants in this list yet. Click the "Add" button below to add participants.
    </p>
    <div
      ng-repeat="participant in $ctrl.participants track by participant.id"
      class="card participant"
    >
      <div class="card-body">
        <button
          class="remove btn btn-danger"
          title="{{'Remove ' + participant.name}}"
          ng-click="$ctrl.openRemoveParticipantModal(participant)"
        >
          <span>&times;</span>
        </button>
        <h4>{{participant.name}}</h4>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button
      class="btn btn-primary"
      ng-click="$ctrl.openAddParticipantModal()"
      title="Add participant"
    >
      + Add
    </button>
  </div>
</div>

<add-participant-modal
  modal-name="{{$ctrl.ADD_PRTCPNT_MODAL_NAME}}"
  name-input-name="{{$ctrl.NAME_INPUT_NAME}}"
  add-participant="$ctrl.addParticipant"
  focus-input="$ctrl.delayedFocusInput"
></add-participant-modal>

<remove-participant-modal
  modal-name="{{$ctrl.REMOVE_PRTCPNT_MODAL_NAME}}"
  participant="$ctrl.participantToRemove"
  remove-participant="$ctrl.removeParticipant"
></remove-participant-modal>