/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

#router-view-container {
  padding: 10px 30px;
}
@media screen and (max-width: 1024px) {
  #router-view-container {
    padding: 10 15px;
  }
}
@media screen and (max-width: 780px) {
  #router-view-container {
    padding: 5 5px;
  }
}