/* Styles used throughout app (in multiple components) */
.name {
  font-style: italic;
}

.brand-font {
  font-family: 'Just Another Hand', 'Brush Script MT', cursive;
}

/* --------------------------------------------------------------------------- */
/* Styles for index.html (for elements that are not inside a component) */
#router-view-container {
  padding: 10px 30px;
}
@media screen and (max-width: 1024px) {
  #router-view-container {
    padding: 10 15px;
  }
}
@media screen and (max-width: 780px) {
  #router-view-container {
    padding: 5 5px;
  }
}