<fieldset id="biller-fieldset">
  <legend>
    Biller <span class="normal">(Who is this bill paid to?)</span>
  </legend>
  
  <div class="form-group">
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="one-or-more-billers-in"
        id="one-or-more-billers-in_one"
        value="one"
        ng-model="$ctrl.inputValue.oneOrMoreBillers"
        ng-change="$ctrl.handleChange('oneOrMoreBillers')"
      />
      <label class="form-check-label" for="one-or-more-billers-in_one">One biller (default)</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="one-or-more-billers-in"
        id="one-or-more-billers-in_more"
        value="more"
        ng-model="$ctrl.inputValue.oneOrMoreBillers"
        ng-change="$ctrl.handleChange('oneOrMoreBillers')"
      />
      <label class="form-check-label" for="one-or-more-billers-in_more">
        Multiple billers
      </label>
    </div>
  </div>
  <hr />
  
  <fieldset ng-if="$ctrl.inputValue.oneOrMoreBillers === 'one'" class="biller-names form-subsection">
    <legend>Biller Name</legend>
    <div class="form-group" ng-if="$ctrl.agents.length > 0">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="one-biller-type-or-select-in"
          id="one-biller-type-or-select-in_type"
          value="type"
          ng-model="$ctrl.inputValue.billerSingle.typeOrSelect"
          ng-change="$ctrl.handleChange('billerSingle', 'typeOrSelect')"
        />
        <label class="form-check-label" for="one-biller-type-or-select-in_type">
          Enter a new name
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="one-biller-type-or-select-in"
          id="one-biller-type-or-select-in_select"
          value="select"
          ng-model="$ctrl.inputValue.billerSingle.typeOrSelect"
          ng-change="$ctrl.handleChange('billerSingle', 'typeOrSelect')"
        />
        <label class="form-check-label" for="one-biller-type-or-select-in_select">
          Select from billers already used in this list
        </label>
      </div>
    </div>

    <div
      class="form-group"
      ng-if="$ctrl.inputValue.billerSingle.typeOrSelect === 'type'"
    >
      <input
        class="form-control"
        type="text"
        id="one-biller-name-in"
        placeholder="Name of business or person the bill is paid to..."
        ng-model="$ctrl.inputValue.billerSingle.typed"
        ng-change="$ctrl.handleChange('billerSingle', 'typed')"
        aria-label="Biller name"
      />
    </div>

    <div
      class="form-group"
      ng-if="$ctrl.inputValue.billerSingle.typeOrSelect === 'select'"
    >
      <select
        class="form-control"
        id="one-biller-name-select"
        ng-model="$ctrl.inputValue.billerSingle.selected"
        ng-change="$ctrl.handleChange('billerSingle', 'selected')"
        aria-label="Select biller name"
      >
        <option selected disabled ng-value="null">Select biller name</option>
        <option
          ng-repeat="agent in $ctrl.agents"
          ng-value="agent"
        >
          {{agent.name}}
        </option>
      </select>
    </div>
  </fieldset>
  
  <fieldset ng-if="$ctrl.inputValue.oneOrMoreBillers === 'more'" class="biller-names form-subsection">

    <fieldset ng-repeat="biller in $ctrl.inputValue.billersMultiple track by $index" class="biller-multiple">
      <legend>Biller {{$index + 1}}</legend>
      <button class="remove-biller btn btn-danger" ng-click="$ctrl.removeBillerMult($index)">
        - Remove
      </button>
      <div class="form-group" ng-if="$ctrl.agents.length > 0">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input biller-multiple"
            type="radio"
            name="biller-{{$index + 1}}-type-or-select-in"
            id="biller-{{$index + 1}}-type-or-select-in_type"
            value="type"
            ng-model="biller.typeOrSelect"
            ng-change="$ctrl.handleChange('billersMultiple', 'typeOrSelect', $index)"
          />
          <label
            class="form-check-label biller-multiple"
            for="biller-{{$index + 1}}-type-or-select-in_type"
          >
            Enter a new name
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input biller-multiple"
            type="radio"
            name="biller-{{$index + 1}}-type-or-select-in"
            id="biller-{{$index + 1}}-type-or-select-in_select"
            value="select"
            ng-model="biller.typeOrSelect"
            ng-change="$ctrl.handleChange('billersMultiple', 'typeOrSelect', $index)"
          />
          <label
            class="form-check-label biller-multiple"
            for="biller-{{$index + 1}}-type-or-select-in_select"
          >
            Select from billers already used in this list
          </label>
        </div>
      </div>
      
      <div
        class="form-group mult-billers-name form-inline"
        ng-if="biller.typeOrSelect === 'type'"
      >
        <label for="biller-{{$index + 1}}-name-in" class="biller-multiple">
          Name: 
        </label>
        <input
          class="form-control biller-multiple"
          type="text"
          id="biller-{{$index + 1}}-name-in"
          placeholder="Name of business or person the bill is paid to..."
          ng-model="biller.typed"
          ng-change="$ctrl.handleChange('billersMultiple', 'typed', $index)"
        />
      </div>

      <div
        class="form-group mult-billers-name form-inline"
        ng-if="biller.typeOrSelect === 'select'"
      >
        <label for="biller-{{$index + 1}}-name-select" class="biller-multiple">
          Name:
        </label>
        <select
          class="form-control"
          id="biller-{{$index + 1}}-name-select"
          ng-model="biller.selected"
          ng-change="$ctrl.handleChange('billersMultiple', 'selected', $index)"
        >
          <option selected disabled ng-value="null">Select biller name</option>
          <option
            ng-repeat="agent in $ctrl.agents"
            ng-value="agent"
          >
            {{agent.name}}
          </option>
        </select>
      </div>

      <div class="form-group mult-billers-amount form-inline">
        <label class="biller-multiple">Amount:</label>
        <input
          class="form-control biller-multiple"
          type="number"
          id="biller-{{$index + 1}}-amount-in"
          placeholder="$ owed/paid to this biller..."
          ng-model="biller.amount.raw"
          ng-change="$ctrl.handleChange('billersMultiple', 'amount', $index)"
          aria-label="Biller {{$index + 1}} Amount"
        />
        <div
          ng-if="biller.amount.display !== null && biller.amount.display !== 'negative'"
          class="biller-amount-display"
        >
          $ {{biller.amount.display}}
        </div>
        <div
          ng-if="biller.amount.display === 'negative'"
          class="biller-no-negative-amount-message"
        >
          Negative values are not allowed
        </div>
      </div>

      <hr class="mult-entities-name-separator"/>
    </fieldset>

    <button class="btn btn-primary" id="add-biller-btn" ng-click="$ctrl.addBillerMult()">
      + Add Biller
    </button>

  </fieldset>
</fieldset>
