<link
  rel="stylesheet"
  href="components/enter-bills-view/bills-section/add-bill-modal/form-pieces/billers/form-billers.css"
/>

<fieldset id="biller-fieldset">
  <legend>
    Biller <span class="normal">(Who is this bill paid to?)</span>
  </legend>
  
  <div class="form-group">
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="one-or-more-billers-in"
        id="one-or-more-billers-in_one"
        value="one"
        ng-model="$ctrl.inputValue.oneOrMoreBillers"
        ng-change="$ctrl.handleChange()"
      />
      <label class="form-check-label" for="one-or-more-billers-in_one">One biller (default)</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="one-or-more-billers-in"
        id="one-or-more-billers-in_more"
        value="more"
        ng-model="$ctrl.inputValue.oneOrMoreBillers"
        ng-change="$ctrl.handleChange()"
      />
      <label class="form-check-label" for="one-or-more-billers-in_more">
        Multiple billers
      </label>
    </div>
  </div>
  <hr />
  
  <fieldset ng-if="$ctrl.inputValue.oneOrMoreBillers === 'one'" class="biller-names">
    <legend>Biller Name</legend>
    <div class="form-group" ng-if="false">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="one-biller-type-or-select-in"
          id="one-biller-type-or-select-in_type"
          value="type"
          ng-model="$ctrl.inputValue.billerSingle.typeOrSelect"
          ng-change="$ctrl.handleChange()"
        />
        <label class="form-check-label" for="one-biller-type-or-select-in_type">
          Enter a new name
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="one-biller-type-or-select-in"
          id="one-biller-type-or-select-in_select"
          value="select"
          ng-model="$ctrl.inputValue.billerSingle.typeOrSelect"
          ng-change="$ctrl.handleChange()"
        />
        <label class="form-check-label" for="one-biller-type-or-select-in_select">
          Select from billers already used in this list
        </label>
      </div>
    </div>
    
    <div
      class="form-group"
      ng-if="$ctrl.inputValue.billerSingle.typeOrSelect === 'type'"
    >
      <input
        class="form-control"
        type="text"
        id="one-biller-name-in"
        placeholder="Name of business or person the bill is paid to..."
        ng-model="$ctrl.inputValue.billerSingle.typed"
        ng-change="$ctrl.handleChange()"
        aria-label="Biller name"
      />
    </div>
  </fieldset>
  
  <fieldset ng-if="$ctrl.inputValue.oneOrMoreBillers === 'more'" class="biller-names">

    <fieldset ng-repeat="biller in $ctrl.inputValue.billersMultiple" class="biller-multiple">
      <legend>Biller {{$index + 1}}</legend>
      <button class="remove-biller btn btn-danger" ng-click="$ctrl.removeBillerInput($index)">
        - Remove
      </button>
      <div class="form-group" ng-if="false">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input biller-multiple"
            type="radio"
            name="biller-{{$ctrl.inputValue.billersMultiple.indexOf(biller) + 1}}-type-or-select-in"
            id="biller-{{$ctrl.inputValue.billersMultiple.indexOf(biller) + 1}}-type-or-select-in_type"
            value="type"
            ng-model="biller.typeOrSelect"
            ng-change="$ctrl.handleChange()"
          />
          <label
            class="form-check-label biller-multiple"
            for="biller-{{$ctrl.inputValue.billersMultiple.indexOf(biller) + 1}}-type-or-select-in_type"
          >
            Enter a new name
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input biller-multiple"
            type="radio"
            name="biller-{{$ctrl.inputValue.billersMultiple.indexOf(biller) + 1}}-type-or-select-in"
            id="biller-{{$ctrl.inputValue.billersMultiple.indexOf(biller) + 1}}-type-or-select-in_select"
            value="select"
            ng-model="biller.typeOrSelect"
            ng-change="$ctrl.handleChange()"
          />
          <label
            class="form-check-label biller-multiple"
            for="biller-{{$ctrl.inputValue.billersMultiple.indexOf(biller) + 1}}-type-or-select-in_select"
          >
            Select from billers already used in this list
          </label>
        </div>
      </div>
      
      <div
        class="form-group mult-billers-name form-inline"
        ng-if="$ctrl.inputValue.billerSingle.typeOrSelect === 'type'"
      >
        <label class="biller-multiple">Name: </label>
        <input
          class="form-control biller-multiple"
          type="text"
          id="biller-{{$ctrl.inputValue.billersMultiple.indexOf(biller) + 1}}-name-in"
          placeholder="Name of business or person the bill is paid to..."
          ng-model="biller.typed"
          ng-change="$ctrl.handleChange($index)"
          aria-label="Biller {{$ctrl.inputValue.billersMultiple.indexOf(biller) + 1}} Name"
        />
      </div>

      <div class="form-group mult-billers-amount form-inline">
        <label class="biller-multiple">Amount:</label>
        <input
          class="form-control biller-multiple"
          type="number"
          id="biller-{{$ctrl.inputValue.billersMultiple.indexOf(biller) + 1}}-amount-in"
          placeholder="$ paid to this biller..."
          ng-model="biller.amount"
          ng-change="$ctrl.handleChange($index)"
          aria-label="Biller {{$ctrl.inputValue.billersMultiple.indexOf(biller) + 1}} Amount"
        />
        <div
          ng-if="biller.amountDisplay !== null && biller.amountDisplay !== 'negative'"
          class="biller-amount-display"
        >
          $ {{biller.amountDisplay}}
        </div>
        <div
          ng-if="$ctrl.amountDisplayValue === 'negative'"
          class="biller-no-negative-amount-message"
        >
          Negative values are not allowed
        </div>
      </div>

      <hr class="mult-billers-name-separator"/>
    </fieldset>

    <button class="btn btn-primary" id="add-biller-btn" ng-click="$ctrl.addBillerInput(1)">
      + Add Biller
    </button>

  </fieldset>
</fieldset>
