<div class="form-group amount">
  <label for="{{$ctrl.AMOUNT_INPUT_NAME}}">
    Bill Total <span class="normal">(US Dollars)</span>
  </label>
  <input
    type="number"
    class="form-control"
    id="{{$ctrl.inputName}}"
    ng-model="$ctrl.inputValue.raw"
    ng-change="$ctrl.handleChange()"
  />
  <div
    ng-if="$ctrl.inputValue.display !== null && $ctrl.inputValue.display !== 'negative'"
    id="formatted-amount-display"
  >
    $ {{$ctrl.inputValue.display}}
  </div>
  <div
    ng-if="$ctrl.inputValue.display === 'negative'"
    id="no-negative-amount-message"
  >
    Negative values are not allowed
  </div>
</div>