<h1 class="brand-font">Bill Entry Page</h1>
<hr />

<alert theme="info">
  <h5>Follow these steps</h5>
  <hr />
  <ol>
    <li>
      Add the names of the people who are splitting the bills under the "Participants" section.
    </li>
    <li>
      Add all of the bills you wish to include, one at a time, under the "Bills" section.
    </li>
    <li>
      Click the "Calculate Bills" button to get your results!
    </li>
  </ol>
</alert>

<participants-section

></participants-section>

<bills-section

></bills-section>

<hr />
<button class="btn btn-primary">Calculate Bills</button>