<link rel="stylesheet" href="views/enter-bills/enter-bills.css">

<h1 class="brand-font">Bill Entry Page</h1>
<hr />

<alert theme="info">
  <h5>Follow these steps</h5>
  <hr />
  <ol>
    <li>
      Add the names of the people who are splitting the bills under the "Participants" section.
    </li>
    <li>
      Add all of the bills you wish to include, one at a time, under the "Bills" section.
    </li>
    <li>
      Click the "Calculate Bills" button to get your results!
    </li>
  </ol>
</alert>

<participants-section
  participants="$ctrl.participants"
  add-participant="$ctrl.addParticipant"
  remove-participant="$ctrl.removeParticipant"
></participants-section>

<div class="card">
  <h5 class="card-header">Bills</h5>
  <div class="card-body">
    <p ng-if="$ctrl.bills.length < 1" class="my-4 text-center">
      There are no bills in this list yet. Click the "Add" button below to add a bill.
    </p>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary">+ Add</button>
  </div>
</div>

<hr />
<button class="btn btn-primary">Calculate Bills</button>