<fi id="responsible-participants-fieldset">
  <legend>
    Responsible Participants
    <span class="normal">
      (How do you want to split the bill between the participants?)
    </span>
  </legend>
  <div class="form-group">
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="splitting-method-in"
        id="splitting-method-in_evenlyBetweenAll"
        value="evenlyBetweenAll"
        ng-model="$ctrl.inputValue.splittingMethod"
        ng-change="$ctrl.handleChange()"
      />
      <label class="form-check-label" for="splitting-method-in_evenlyBetweenAll">
        Evenly between all participants
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="splitting-method-in"
        id="splitting-method-in_evenlyBetweenSome"
        value="evenlyBetweenSome"
        ng-model="$ctrl.inputValue.splittingMethod"
        ng-change="$ctrl.handleChange()"
      />
      <label class="form-check-label" for="splitting-method-in_evenlyBetweenSome">
        Evenly between some participants
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="splitting-method-in"
        id="splitting-method-in_individually"
        value="individually"
        ng-model="$ctrl.inputValue.splittingMethod"
        ng-change="$ctrl.handleChange()"
      />
      <label class="form-check-label" for="splitting-method-in_individually">
        Other (assign responsibility individually)
      </label>
    </div>
  </div>
  <hr />

  <div
    ng-if="$ctrl.inputValue.splittingMethod === 'evenlyBetweenAll'"
    class="responsible-participant-names form-subsection"
  >
    <div
      ng-if="$ctrl.inputValue.allEvenlyAmountPerPerson !== null"
      id="amount-per-person-display"
    >
      <span class="amount">$ {{$ctrl.inputValue.allEvenlyAmountPerPerson.display}}</span>
      per person for each of the {{$ctrl.inputValue.numberOfParticipants}} participants
    </div>
  </div>
  <fieldset
    ng-if="$ctrl.inputValue.splittingMethod === 'evenlyBetweenSome'"
    class="responsible-participant-names form-subsection"
  >
  testtesttest
    <div
      ng-repeat="participant in $ctrl.inputValue.someEvenly.participants"
      class="form-group form-inline some-evenly"
    >
      <label for="participant-{{$index + 1}}-name-select" class="participant-multiple">
        Name:
      </label>
      <select
        class="form-control"
        id="participant-{{$index + 1}}-name-select"
        ng-model="participant.selected"
        ng-change="$ctrl.handleChange('participantsMultiple', 'selected', $index)"
      >
        <option selected disabled ng-value="null">Select participant name</option>
        <option
          ng-repeat="participant in $ctrl.participants track by $index"
          ng-value="participant"
        >
          {{participant.name}}
        </option>
      </select>
    </div>
  </fieldset>
  <fieldset
    ng-if="$ctrl.inputValue.splittingMethod === 'individually'"
    class="responsible-participant-names form-subsection"
  >
test3
  </fieldset>
</fieldset>
