#newBillForm .form-group > label,
#newBillForm fieldset > legend {
  font-weight: 500;
  display: block;
  font-size: 1rem;
}

#newBillForm .form-group > label > span.normal,
#newBillForm fieldset > legend > span.normal {
  font-weight: 400;
}

/* Bill Total section */
.form-group.amount {
  position: relative;
}

#newBillAmountIn {
  width: calc(50% - 20px);
  display: inline-block;
}

#formatted-amount-display {
  vertical-align: bottom;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  padding: .375rem .75rem 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  /* border: 1px solid #ced4da; */
  /* border-radius: .25rem; */
}

#no-negative-amount-message {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  padding: .375rem .75rem 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #dc3545;
}

/* source: https://css-tricks.com/snippets/css/turn-off-number-input-spinners/ */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Biller section */
#biller-fieldset > hr {
  margin: 5px 0 5px 15px;
}

#biller-fieldset > .form-group {
  margin-bottom: 10px;
}

#newBillForm fieldset.biller-names {
  padding-left: 15px;
  font-size: .85rem;
}

#newBillForm fieldset.biller-names > legend,
#newBillForm fieldset.biller-names > fieldset > legend {
  margin-bottom: 5px;
  font-size: .9rem;
}

#newBillForm fieldset.biller-names > .form-group,
#newBillForm fieldset.biller-names > fieldset > .form-group {
  margin-bottom: 5px;
}

#newBillForm fieldset.biller-names input.form-control,
#newBillForm .form-group.form-inline > label {
  font-size: .85rem;
}

#newBillForm .biller-names > .biller-multiple {
  position: relative;
}
#newBillForm .biller-multiple > .remove-biller {
  padding: 1px 3px;
  font-size: .7rem;
  position: absolute;
  top: 2px;
  right: 0;
}

#newBillForm .biller-names > fieldset > .form-group .biller-multiple {
  font-size: .8rem;
}
#newBillForm .biller-names > fieldset > .form-group input.biller-multiple[type="text"] {
  padding: 3px 6px;
}

.form-group.mult-billers-name {
  display: flex;
}
.form-group.mult-billers-name > label,
.form-group.mult-billers-amount > label {
  padding-right: 5px;
}
.form-group.mult-billers-name > input {
  flex-grow: 1;
}

.biller-amount-display {
  vertical-align: bottom;
  display: inline-block;
  padding-left: 8px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #495057;
  background-clip: padding-box;
}
.biller-no-negative-amount-message {
  display: inline-block;
  position: absolute;
  padding-left: 8px;
  font-size: .85rem;
  line-height: 1.2;
  color: #dc3545;
}

.mult-billers-name-separator {
  margin: 10px 0 5px;
}

#add-biller-btn {
  font-size: .85rem;
  padding: .3rem .6rem;
}