<modal-skeleton
  modal-name="{{$ctrl.modalName}}"
  title="Add Bill"
  has-success="$ctrl.hasSuccess"
  has-danger="false"
  reset="$ctrl.resetForm"
>

  <modal-body>

    <form ng-if="!$ctrl.hasSuccess" id="{{$ctrl.FORM_NAME}}" novalidate>
      <bill-form-bill-name input-name="{{$ctrl.nameInputName}}" />
      <hr />
      <bill-form-amount />
      <hr />
      <bill-form-billers />
      <hr />
      <bill-form-responsibility />
      <hr />
      <fieldset id="is-paid-fieldset">
        <legend>
          Has this bill been paid?
        </legend>
        <div class="form-group">
          
        </div>
      </fieldset>

    </form>

    <alert ng-if="$ctrl.hasSuccess" theme="success">
      <h4>Success!</h4>
      The bill <span class="name person">"{{$ctrl.newBill.name}}"</span> was added
      to this list.
    </alert>

  </modal-body>

  <!-- Footer also has cancel button (from modal skeleton) in addition to unique content defined below -->
  <modal-footer>
    <button
      ng-click="$ctrl.hasSuccess ? $ctrl.addAnotherParticipant() : $ctrl.submitForm()"
      type="{{$ctrl.hasSuccess ? 'button' : 'submit'}}"
      form="{{$ctrl.FORM_NAME}}"
      class="btn btn-primary"
      ng-disabled="$ctrl.isButtonDisabled && !$ctrl.hasSuccess"
    >
      {{$ctrl.hasSuccess ? 'Add another participant' : '+Add'}}
    </button>
    <button class="btn btn-warning" ng-click="$ctrl.resetForm()">Test</button>
  </modal-footer>

</modal-skeleton>