<link
  rel="stylesheet"
  href="components/enter-bills-view/bills-section/add-bill-modal/add-bill.css"
/>

<modal-skeleton
  modal-name="{{$ctrl.modalName}}"
  title="Add Bill"
  has-success="$ctrl.hasSuccess"
  has-danger="false"
  reset="$ctrl.reset"
>

  <modal-body>

    <form ng-if="!$ctrl.hasSuccess" id="{{$ctrl.FORM_NAME}}">
      <bill-form-bill-name
        input-name="{{$ctrl.nameInputName}}"
        input-value="$ctrl.nameInputValue"
        report-change="$ctrl.updateInputValue"
        property-name="nameInputValue"
      >
      </bill-form-bill-name>
      <hr />
      <bill-form-amount
        input-name="newBillAmountIn"
        input-value="$ctrl.amountInputValue.raw"
        report-change="$ctrl.updateInputValue"
        property-name="amountInputValue"
      >
      </bill-form-amount>
      <hr />
      <bill-form-billers
        input-value="$ctrl.billersInputValue"
        report-change="$ctrl.updateInputValue"
        property-name="billersInputValue"
        agents="$ctrl.agents"
      >
      </bill-form-billers>
      <!-- <fieldset id="biller-fieldset">
        <legend>
          Biller <span class="normal">(Who is this bill paid to?)</span>
        </legend>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="one-or-more-billers-in"
              id="one-or-more-billers-in_one"
              value="one"
              ng-model="$ctrl.oneOrMoreBillersInputValue"
              ng-change="$ctrl.test()"
            />
            <label class="form-check-label" for="one-or-more-billers-in_one">One biller</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="one-or-more-billers-in"
              id="one-or-more-billers-in_more"
              value="more"
              ng-model="$ctrl.oneOrMoreBillersInputValue"
              ng-change="$ctrl.test()"
            />
            <label class="form-check-label" for="one-or-more-billers-in_more">
              Multiple billers
            </label>
          </div>
        </div>
        <fieldset ng-if="$ctrl.oneOrMoreBillersInputValue === 'one'">
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="one-biller-type-or-select-in"
                id="one-biller-type-or-select-in_type"
                value="type"
                ng-model="$ctrl.oneBillerTypeOrSelectNameInputValue"
                ng-change="$ctrl.test2()"
              />
              <label class="form-check-label" for="one-biller-type-or-select-in_type">
                Enter a new name
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="one-biller-type-or-select-in"
                id="one-biller-type-or-select-in_select"
                value="select"
                ng-model="$ctrl.oneBillerTypeOrSelectNameInputValue"
                ng-change="$ctrl.test2()"
              />
              <label class="form-check-label" for="one-biller-type-or-select-in_select">
                
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="one-biller-name-in"></label>
            <input
              class="form-control"
              type="text"
              id="one-biller-name-in"
              placeholder="Enter a name for the business or person the bill is paid to..."
              ng-model="$ctrl.oneBillerNameInputValue"
              ng-change="$ctrl.test2()"
            />
          </div>
        </fieldset>
        <fieldset ng-if="$ctrl.oneOrMoreBillersInputValue === 'more'">

        </fieldset>
      </fieldset> -->

      <hr />
      <fieldset id="responsible-participants-fieldset">
        <legend>
          Responsible Participants
          <span class="normal">
            (How do you want to split the bill between the participants?)
          </span>
        </legend>
        <div class="form-group">
          
        </div>
      </fieldset>
      
      <hr />
      <fieldset id="is-paid-fieldset">
        <legend>
          Has this bill been paid?
        </legend>
        <div class="form-group">
          
        </div>
      </fieldset>

    </form>

    <alert ng-if="$ctrl.hasSuccess" theme="success">
      <h4>Success!</h4>
      The bill <span class="name person">"{{$ctrl.newBill.name}}"</span> was added
      to this list.
    </alert>

  </modal-body>

  <!-- Footer also has cancel button (from modal skeleton) in addition to unique content defined below -->
  <modal-footer>
    <button
      ng-click="$ctrl.hasSuccess ? $ctrl.addAnotherParticipant() : $ctrl.submitForm()"
      type="{{$ctrl.hasSuccess ? 'button' : 'submit'}}"
      form="{{$ctrl.FORM_NAME}}"
      class="btn btn-primary"
      ng-disabled="$ctrl.isButtonDisabled && !$ctrl.hasSuccess"
    >
      {{$ctrl.hasSuccess ? 'Add another participant' : '+Add'}}
    </button>
  </modal-footer>

</modal-skeleton>