#main-header {
  padding: 12px 20px;
  border-bottom: solid 1px black;
  box-shadow: 0 1px 3px 1px #555555;
}

#main-header .brand {
  font-family: 'Just Another Hand', 'Brush Script MT', cursive;
  font-size: 24px;
}

span.dollar-sign {
  /* "Money Green" - source: https://www.colourlovers.com/color/216C2A/money_green */
  color: #216C2A;
  font-size: 36px;
  position: relative;
  top: 4px;
}

#main-header > ul.menu {
  margin: 0;
  padding: 0 0 0.5em;
  border: none;
  display: inline-block;
}
/* I borrowed the following menu styles from "angular-seed" */
#main-header > ul.menu:before {
  content: "[";
}
#main-header > ul.menu:after {
  content: "]";
}
#main-header > ul.menu > li {
  display: inline;
}
#main-header > ul.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

@media screen and (max-width: 1024px) {
  #main-header {
    padding: 6px 10px;
  }
}
@media screen and (max-width: 780px) {
  #main-header {
    padding: 3px 5px;
  }
}

a.nav-link {
  display: inline-block;
}